.artmaincont{
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.arttitle{
    font-size: 70px ;
    color: #242424;
    margin: 10px;
}

.status{
    font-size: 50px;
    color: crimson;
    margin :10px;
}

.author{
    font-size: 20px ;
    color: #242424;
    margin: 5px;
}

.date{
    font-size: 20px ;
    color: #242424;
    margin: 5px;
}

.body{
    margin: 15px;
    padding: 10px;
    background-color: ghostwhite;
    font-size: 12px;
    width: 50%;
}