.artmaincont{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.arttitle{
    font-size: 70px ;
    color: #242424;
    margin: 50px;
    font-family: Tahoma, sans-serif;
    font-style: bold;
}

.artshort{
    font-size: 30px ;
    color: #242424;
    margin-left: 50px;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.status{
    font-size: 20px;
    color: crimson;
    margin-left: 50px;
}

.category{
    font-size: 18px;
    color: #6d6d6d;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.author{
    font-size: 20px ;
    color: #242424;
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Trebuchet MS', sans-serif;
}

.media{
    margin: auto;
}

.body{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    font-size: 24px;
    font-family: Arial, sans-serif;
}