.artmaincont{
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: azure;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainsection{
    width: 100%;
    display: flex;
    align-items: left;
    flex-direction: column;
    background: rgb(81,129,190);
    background: linear-gradient(90deg, rgba(81,129,190,1) 0%, rgba(44,74,171,1) 51%, rgba(0,56,255,1) 100%);
}

.arttitle{
    font-size: 70px ;
    color: #242424;
    margin: 50px;
    font-family: Tahoma, sans-serif;
    font-style: bold;
}

.artshort{
    font-size: 30px ;
    color: #242424;
    margin-left: 50px;
    width: 80%;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.status{
    font-size: 20px;
    color: crimson;
    margin-left: 50px;
}

.category{
    font-size: 18px;
    color: #6d6d6d;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

.author{
    font-size: 20px ;
    color: #242424;
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Trebuchet MS', sans-serif;
}

.media{
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.body{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    width: 80%;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.video{
    margin: auto;
    width: 80%;
    height:500px;
}

footer {
    color: rgb(255, 255, 255);
}