* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body, #root, .App{
  height: 100%;
}

.maincont{

  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
}